.loading {
  margin: 20px 0;
}
.loading img {
  width: 30px;
  height: auto;
  display: block;
  margin: 0 auto;
  animation: loading-animation 1s infinite alternate ease-in-out;
}
@keyframes loading-animation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
